.dice-wrapper{
  display: flex;
  width:250px;
  justify-content: space-around;
  margin:10px;
}

.games{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}