.board-out{
  width: 70%;
  height: 700px;

  padding:55px;
  background-color: #5f4339;
  display: flex;
  justify-content: center;
  align-items: center;

  .board-in{
    width: 100%;
    height: 100%;
    background-color: #ffe0b2;  
    position: relative;
    .board-first{
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: space-between;
    }
    .board-line{
      width: 2.5vw;
      height: 100%;
      background-color: #5f4339;
      position: absolute;
      left:47.9%;
      top:0%;
    
    }
  }
}